*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 /*parte del nav*/
body {
  margin: 0%;
  margin-left: 7%;
  margin-right: 7%;
}

nav div {
  float: left;
  padding: 8px;
  color: deeppink;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}

.barranav{
  position: sticky;
  top: 0;
  z-index: 100;
  background-color:darkblue;
  float: left;
  width: 100%;
  padding: 5px;
}

/*segunda parte del body*/
header {
  position: relative;
  text-align: center;
}

.imagenbirras {
  opacity: 0.7;
  background-size: cover;
}
 
.imagenfondo {
  width: 100%;
}

.seguircomprando {
  background-color:darkblue;
  text-align: center;
  color:deeppink;
  width: 5cm;
  position: absolute;
  right: 10%;
  top: 35%;
  border-radius: 20px;
}

.compra {
  background-color:deeppink;
  color: antiquewhite;
  border-radius: 20px;
  cursor: pointer;
  width: 95px;
  height: 35px;
  margin-left: 45px;
}

main h1 {
  color:darkblue;
  text-align: center;
}

hr {
  width: 30%;
  border: 1px solid deeppink;
}

.contlogo {
  margin-left: 5cm;
  text-align: center;
  color: darkblue;
}

.logo_ow {
  float: left;
  margin: 40px;
}

.articulo {
  margin-top: 20px;
  width: 50%;
  margin-left: 4cm;
  text-align: justify;
  line-height: 25px;
}

.imagentexto p::first-letter {
  color:deeppink;
  float:left;
  font-size: 2em;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.imagentexto {
  margin-left: 18%;
}

.boteow {
  float: left;
  margin-right: 5%; 
}

.galeria {
  float: left;
  margin-top: 3cm;
}

.galeria img {
    width: 200px;
    margin-left: 20px;
}

/*pie de página*/
footer {
  background-color: #121867;
  clear: both;
  color: rgb(243, 55, 132);
  font-weight: bolder;
  font-size: 1em;
  margin-top: 20px;
  overflow-y: auto;
  padding: 10px;
  height: 140px;
}

div.address {
  float:left;
  width: 20%;
}

div.enmedio {
  float: left;
  text-align: center;
  width: 60%;
}

div.section {
  float: left;
  text-align: center;
  width: 20%;
}

div.social img{
  width: 25px;
  height: 25px;
  float:right:
}