
@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");
@font-face {
    font-family: "Mystery Quest";
    src: url("../fuentes/mystery-quest.ttf");
}

p{
    font-family: "Mystery Quest";
    font-size: 100%;
}
    